
.customSelectError {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.857rem;
  color: #ea5455;
}

.viewRtl {
  .react-viewer-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .react-viewer-close > i {
    left: 0 !important;
  }

  .react-viewer-canvas img {
    transform: none !important;
  }
}
